#banner {
  background-image: url("../../images/home_backimage.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 11em 1em 10em 1em;
}

#banner h2 {
  color: white;
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.85);
  text-shadow:
    0 2px 3px rgba(0, 0, 0, 0.95),
    0 6px 14px rgba(0, 0, 0, 0.8);
}

#banner p {
  color: white;
  font-weight: 600;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
  text-shadow:
    0 2px 3px rgba(0, 0, 0, 0.95),
    0 6px 14px rgba(0, 0, 0, 0.8);
}

.row .col-3 section img {
  width: 100%;
  max-height: 150px;
  object-fit: contain;
}
