html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

#main {
  padding-top: 1.5em;
}

.map-container {
  width: calc(100% - 60px);
  max-width: none;
}

#map {
  width: 100%;
  height: 85vh;
}

.custom-control {
  position: absolute;
  right: 15px;
  bottom: 30px;
  background: white;
  border: 2px solid cadetblue;
  padding: 10px;
}

.layer-switcher input {
  appearance: auto;
  -webkit-appearance: auto;
  -moz-appearance: auto;
}

.layer-switcher {
  top: 11.5em;
  right: 0.5em;
}

.layer-switcher.shown {
  max-height: calc(100% - 12em);
  overflow-y: auto;
}

.layer-switcher.shown .panel {
  max-height: calc(85vh - 13em);
  overflow-y: auto;
}

.grouping-control {
  position: absolute;
  top: 3.5em;
  right: 0.5em;
  left: auto;
  z-index: 1000;
  background: white;
  padding: 10px;
}

.grouping-control .sort-title {
  font-weight: bold;
  margin-bottom: 4px;
}

.grouping-control label {
  display: block;
  margin-top: 8px;
}

.grouping-control input {
  appearance: auto;
  -webkit-appearance: auto;
  -moz-appearance: auto;
}

.legend-control {
  position: absolute;
  left: 0.5em;
  bottom: 4em;
  z-index: 1000;
  display: none;
  max-width: 300px;
  max-height: 320px;
  overflow: auto;
  background: white;
  padding: 10px;
}

.legend-control .legend-title {
  font-weight: bold;
  margin-bottom: 6px;
}

.legend-item {
  margin-top: 8px;
}

.legend-item img {
  display: block;
  max-width: 260px;
  margin-top: 4px;
}

.ol-popup {
  position: absolute;
  background: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 240px;
  max-width: 420px;
  max-height: 320px;
  overflow: auto;
}

.ol-popup:after,
.ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}

.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}

.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}

#popup-content {
  max-width: 390px;
  overflow: auto;
}

#popup-content table {
  border-collapse: collapse;
  font-size: 11px;
  white-space: nowrap;
}

#popup-content th,
#popup-content td {
  border: 1px solid #dddddd;
  padding: 3px;
}
